# Functions

In [1]:
nums = (3,7,9)   # tuple
num1, num2, num3 = nums
num1

3

In [2]:
# 함수 실행 결과를 tuple 로 리턴.

In [3]:
def divided(a, b):
    x = a/b
    y = a%b    
    shout_words = (x, y)
    return shout_words

In [4]:
y = divided(10, 3)
y

(3.3333333333333335, 1)

In [5]:
# language count

In [6]:
import pandas as pd
tweets_df = pd.read_csv('tweets.csv')
tweets_df.head()

  lang       source
0   en  twitter.com
1   en  myplume.com
2   et  twitter.com
3   en  twitter.com
4   en  myplume.com

In [7]:
def count_entries(df, col_name):
    langs_count = {}
    
    col = df[col_name]
    
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry] += 1
        else:
            langs_count[entry] = 1

    return (langs_count)

In [8]:
result = count_entries(tweets_df, 'lang')
result

{'en': 37, 'et': 4, 'jp': 6, 'kr': 2, 'ru': 1}

## Nested Functions

In [9]:
def echo(word1, word2, word3):

    def inner(word):
        return word * 3

    return (inner(word1), inner(word2), inner(word3))

In [10]:
echo('a', 'b', 'c')

('aaa', 'bbb', 'ccc')

In [11]:
def necho(n):

    def inner_echo(word):
        return word * n

    return inner_echo

In [12]:
func3 = necho(3)
func5 = necho(5)

In [13]:
print(func3('yap'), func5('wow!'))

yapyapyap wow!wow!wow!wow!wow!

## variable-length arguments : (*args)

In [14]:
def gibberish(*args):
    pak = ''
    for word in args:
        pak += word + ' '

    return pak

In [15]:
one_word = gibberish('luke')
print(one_word)

luke

In [16]:
many_words = gibberish("luke", "leia", "han", "obi", "darth")
print(many_words)

luke leia han obi darth

In [17]:
def count_entries(df, *args):

    cols_count = {}
    
    for col_name in args:
        col = df[col_name]
        
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
    
    return cols_count

In [18]:
result1 = count_entries(tweets_df, 'lang')
result1

{'en': 37, 'et': 4, 'jp': 6, 'kr': 2, 'ru': 1}

In [19]:
result2 = count_entries(tweets_df, 'lang', 'source')
result2

{'en': 37,
 'et': 4,
 'facebook.com': 5,
 'jp': 6,
 'kr': 2,
 'myplume.com': 6,
 'ru': 1,
 'twitter.com': 39}

## variable-length keyword arguments : (**kwargs)

In [20]:
def report_status(**kwargs):

    for key, value in kwargs.items():
        print(key + ": " + value)

    print("\nEND REPORT")

In [21]:
report_status(name="luke", affiliation="jedi", status="missing")

affiliation: jedi
status: missing
name: luke

END REPORT

In [22]:
report_status(name="anakin", affiliation="sith lord", status="deceased")

affiliation: sith lord
status: deceased
name: anakin

END REPORT

In [ ]:
# *args, *kwargs

In [3]:
def total(initial=5, *numbers, **keywords):
    count = initial
    for number in numbers:   # 1, 2, 3
        count += number
    for key in keywords:
        count += keywords[key]   # vegetables=50, fruits=100
    return count

In [4]:
total(10, 1, 2, 3, vegetables=50, fruits=100)

166

## Lambda functions

In [23]:
echo_word = (lambda word, echo: word * echo)
result = echo_word('Hey', 5)
result

'HeyHeyHeyHeyHey'

In [24]:
fellowship = ['Frodo', 'Samwise', 'Merry', 'Aragorn', 'Legolas', 'Boromir', 'Gimli']

In [25]:
# map
result = map(lambda item: item + '~!!', fellowship)
result_list = list(result)
result_list

['Frodo~!!',
 'Samwise~!!',
 'Merry~!!',
 'Aragorn~!!',
 'Legolas~!!',
 'Boromir~!!',
 'Gimli~!!']

In [26]:
# filter
result = filter(lambda member: len(member) > 6, fellowship)
result_list = list(result)
result_list

['Samwise', 'Aragorn', 'Legolas', 'Boromir']

In [27]:
# reduce
from functools import reduce
result = reduce(lambda item1, item2: item1 + ' / ' + item2, fellowship)
result

'Frodo / Samwise / Merry / Aragorn / Legolas / Boromir / Gimli'

In [28]:
import pandas as pd
tweets_df = pd.read_csv('tweets.csv')
result = filter(lambda x: x[0:2] != 'tw', tweets_df['source'])
res_list = list(result)
res_list

['myplume.com',
 'myplume.com',
 'facebook.com',
 'facebook.com',
 'myplume.com',
 'myplume.com',
 'myplume.com',
 'myplume.com',
 'facebook.com',
 'facebook.com',
 'facebook.com']

## Error Handling

In [29]:
# try - except

In [30]:
def shout_echo(word, echo=1):
    echo_word = ''
    shout_words = ''
    
    try:
        echo_word = word * echo
        shout_words = echo_word + '!!!'
    except:
        print("word must be a string and echo must be an integer.")

    return shout_words

In [31]:
shout_echo("particle", echo="accelerator")

word must be a string and echo must be an integer.

''

In [32]:
# raise ValueError

In [33]:
def shout_echo(word, echo=1):

    if echo < 0:
        raise ValueError('echo must be greater than 0')

    echo_word = word * echo
    shout_word = echo_word + '!!!'
    return shout_word

In [34]:
shout_echo("particle", echo=-1)

ValueError: echo must be greater than 0