# Functions

In [12]:
nums = (3,7,9)   # tuple
num1, num2, num3 = nums
num1

3

In [13]:
# 함수 실행 결과를 tuple 로 리턴.

In [14]:
def divided(a, b):
    x = a/b
    y = a%b    
    shout_words = (x, y)
    return shout_words

In [15]:
y = divided(10, 3)
y

(3.3333333333333335, 1)

In [16]:
# language count

In [46]:
import pandas as pd
tweets_df = pd.read_csv('tweets.csv')
tweets_df.head()

  lang       source
0   en  twitter.com
1   en  myplume.com
2   et  twitter.com
3   en  twitter.com
4   en  myplume.com

In [21]:
def count_entries(df, col_name):
    langs_count = {}
    
    col = df[col_name]
    
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry] += 1
        else:
            langs_count[entry] = 1

    return (langs_count)

In [22]:
result = count_entries(tweets_df, 'lang')
result

{'en': 37, 'et': 4, 'jp': 6, 'kr': 2, 'ru': 1}

## Nested Functions

In [25]:
def echo(word1, word2, word3):

    def inner(word):
        return word * 3

    return (inner(word1), inner(word2), inner(word3))

In [26]:
echo('a', 'b', 'c')

('aaa', 'bbb', 'ccc')

In [31]:
def necho(n):

    def inner_echo(word):
        return word * n

    return inner_echo

In [32]:
func3 = necho(3)
func5 = necho(5)

In [33]:
print(func3('yap'), func5('wow!'))

yapyapyap wow!wow!wow!wow!wow!

## variable-length arguments : (*args)

In [37]:
def gibberish(*args):
    pak = ''
    for word in args:
        pak += word + ' '

    return pak

In [38]:
one_word = gibberish('luke')
print(one_word)

luke

In [39]:
many_words = gibberish("luke", "leia", "han", "obi", "darth")
print(many_words)

luke leia han obi darth

In [43]:
def count_entries(df, *args):

    cols_count = {}
    
    for col_name in args:
        col = df[col_name]
        
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
    
    return cols_count

In [44]:
result1 = count_entries(tweets_df, 'lang')
result1

{'en': 37, 'et': 4, 'jp': 6, 'kr': 2, 'ru': 1}

In [47]:
result2 = count_entries(tweets_df, 'lang', 'source')
result2

{'en': 37,
 'et': 4,
 'facebook.com': 5,
 'jp': 6,
 'kr': 2,
 'myplume.com': 6,
 'ru': 1,
 'twitter.com': 39}

## variable-length keyword arguments : (**kwargs)

In [40]:
def report_status(**kwargs):

    for key, value in kwargs.items():
        print(key + ": " + value)

    print("\nEND REPORT")

In [41]:
report_status(name="luke", affiliation="jedi", status="missing")

name: luke
affiliation: jedi
status: missing

END REPORT

In [42]:
report_status(name="anakin", affiliation="sith lord", status="deceased")

name: anakin
affiliation: sith lord
status: deceased

END REPORT

## Lambda functions