## 데이터프레임에서 데이터 선택하기

In [1]:
import pandas as pd

In [4]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt', 'Korea', 'China', 'England']
dr =  [True, False, False, False, True, True, True, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45, 122, 397, 255]
my_dict = {
    'country':names,
    'drives_right':dr,
    'cars_per_cap':cpc
}

In [5]:
cars = pd.DataFrame(my_dict)

In [6]:
cars

   cars_per_cap        country drives_right
0           809  United States         True
1           731      Australia        False
2           588          Japan        False
3            18          India        False
4           200         Russia         True
5            70        Morocco         True
6            45          Egypt         True
7           122          Korea         True
8           397          China         True
9           255        England         True

In [7]:
# 1개 컬럼 선택, series 로 추출됨

In [8]:
cars['country']

0    United States
1        Australia
2            Japan
3            India
4           Russia
5          Morocco
6            Egypt
7            Korea
8            China
9          England
Name: country, dtype: object

In [9]:
# 1개 컬럼 선택, DataFrame 으로 추출됨

In [10]:
cars[['country']]

         country
0  United States
1      Australia
2          Japan
3          India
4         Russia
5        Morocco
6          Egypt
7          Korea
8          China
9        England

In [11]:
# row index 로 잘라내기

In [12]:
cars[1:5]

   cars_per_cap    country drives_right
1           731  Australia        False
2           588      Japan        False
3            18      India        False
4           200     Russia         True

## 컬럼명으로 선택하기 (loc)

In [13]:
cars.loc[:, ['country', 'drives_right']]

         country drives_right
0  United States         True
1      Australia        False
2          Japan        False
3          India        False
4         Russia         True
5        Morocco         True
6          Egypt         True
7          Korea         True
8          China         True
9        England         True

In [14]:
cars.loc[2:5, ['country', 'drives_right']]

   country drives_right
2    Japan        False
3    India        False
4   Russia         True
5  Morocco         True

## 위치 인덱스로 선택하기 (iloc)

In [15]:
cars.iloc[3]

cars_per_cap       18
country         India
drives_right    False
Name: 3, dtype: object

In [17]:
cars.iloc[[1,2,4], [1,2]]

     country drives_right
1  Australia        False
2      Japan        False
4     Russia         True

In [18]:
cars.iloc[2:5, :]

   cars_per_cap country drives_right
2           588   Japan        False
3            18   India        False
4           200  Russia         True

## Boolean Indexing 조건절을 이용한 데이터 선택

In [ ]:
cars.dir