# Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

## Explore Data

각 국가의 년도별 인구

In [4]:
df = pd.read_csv('data/ind_pop_data.csv')
df.head()

   CountryName CountryCode  Year   TotalPop  UrbanPopRatio
0  Afghanistan         AFG  1960  8990000.0           8.22
1  Afghanistan         AFG  1961  9160000.0           8.51
2  Afghanistan         AFG  1962  9340000.0           8.81
3  Afghanistan         AFG  1963  9530000.0           9.11
4  Afghanistan         AFG  1964  9730000.0           9.43

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14612 entries, 0 to 14611
Data columns (total 5 columns):
CountryName      14612 non-null object
CountryCode      14612 non-null object
Year             14612 non-null int64
TotalPop         14612 non-null float64
UrbanPopRatio    14612 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 570.9+ KB

In [7]:
# 숫자형 데이터
df.describe()

               Year      TotalPop  UrbanPopRatio
count  14612.000000  1.461200e+04   14612.000000
mean    1987.492883  2.033594e+08      48.429783
std       16.160258  6.684231e+08      25.236047
min     1960.000000  0.000000e+00       0.000000
25%     1973.000000  8.495000e+05      28.000000
50%     1987.000000  6.130000e+06      46.400000
75%     2001.000000  4.140000e+07      68.100000
max     2015.000000  7.350000e+09     100.000000