# 외국인한도 소진 상위종목

[거래소 링크](http://marketdata.krx.co.kr/mdi#document=040406)

In [1]:
import pandas as pd
import numpy as np
import requests

In [11]:
from io import BytesIO
from datetime import datetime, timedelta

In [13]:
import mysql.connector
from sqlalchemy import create_engine

### 데이터 크롤링

1일치 데이터만 읽을 수 있다.

In [46]:
def foreign_ratio(rdate=None):
    # 날짜 없는 경우 오늘 날짜로 처리.
    if rdate == None:
        rdate = datetime.today().strftime('%Y%m%d')
        
    # STEP 01: Generate OTP
    gen_otp_url = 'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx'
    gen_otp_data = {
        'name':'fileDown',
        'filetype':'xls',
        'url':'MKD/04/0404/04040600/mkd04040600',
        'market_gubun':'ALL',    # 시장구분 : 전체
        'indx_ind_cd':'', 
        'sect_tp_cd':'ALL',      # 업종구분 : 전체
        'schdate':rdate,
        'pagePath':'/contents/MKD/04/0404/04040600/MKD04040600.jsp',
    }

    r = requests.post(gen_otp_url, gen_otp_data)
    code = r.content

    # STEP 02: download
    down_url = 'http://file.krx.co.kr/download.jspx'
    down_data = {
        'code': code,
    }

    r = requests.post(down_url, down_data)
    df = pd.read_excel(BytesIO(r.content), header=0, thousands=',', converters={'종목코드': str})
    
    # 날짜, 순위, 종목코드, 종목명, 종가, 대비, 상장주식수, 외국인한도수량, 외국인보유수량, 외국인한도소진률
    df.columns = ['rank','code','name','close','comp','total','f_limit','f_hold','f_ratio']
    df['fdate'] = rdate
    
    return df

In [45]:
df = foreign_ratio()
df.head()

,rank,code,name,close,comp,total,f_limit,f_hold,f_ratio,fdate
0,1,030200,KT,32600,300,261111808,127944785,127944785,100.00,20170406
1,2,950140,잉글우드랩(Reg.S),9130,40,19366154,19366154,17864740,92.25,20170406
2,3,032640,LG유플러스,14350,150,436611361,213939566,192088963,89.79,20170406
3,4,003925,남양유업우,269000,4000,166662,166662,145990,87.60,20170406
4,5,051905,LG생활건강우,500000,-1000,2099697,2099697,1810810,86.24,20170406

# Database Update

### mysql 연결

In [31]:
engine = create_engine('mysql+mysqlconnector://woosa7:finda888@localhost/findb', echo=False)

최초 실행시 Table이 없으면 생성한다.

In [49]:
# 날짜, 순위, 종목코드, 종목명, 종가, 대비, 상장주식수, 외국인한도수량, 외국인보유수량, 외국인한도소진률
create_table_query = """
    CREATE TABLE IF NOT EXISTS foreign_ratio (
      fdate date DEFAULT NULL,
      rank int(6),
      code varchar(10),
      name varchar(50),
      close int(11),
      comp int(11),
      total int(11),
      f_limit int(11),
      f_hold int(11),
      f_ratio float
    );
"""
engine.execute(create_table_query)

In [50]:
pd.read_sql('select * from foreign_ratio', engine)

Empty DataFrame
Columns: [fdate, rank, code, name, close, comp, total, f_limit, f_hold, f_ratio]
Index: []

저장된 가장 최근 날짜

In [51]:
latest_date = str(datetime(2000, 1, 1))
df = pd.read_sql('select * from foreign_ratio order by fdate desc limit 1', engine)
if len(df) > 0:
    latest_date = df['날짜'][0]
    
latest_date

'2000-01-01 00:00:00'

2000년 1월 1일부터 데이터 수집하기

In [52]:
start = datetime(2017, 3, 10)
end = datetime.today() - timedelta(days=10) # yearterday
dates = pd.date_range(start=start, end=end)

In [54]:
for date in dates:
    # skip previous date
    if str(date) < latest_date:
        continue

    # 날짜별로 외국인한도 소진 데이터 읽기
    requestDate = date.strftime('%Y%m%d')
    df = foreign_ratio(requestDate)
    print(requestDate, end=', ')
    print('count: ', len(df))
    if (len(df) > 0):
        df.to_sql('foreign_ratio', engine, if_exists='append', index=False)

20170310, count:  2249
20170311, count:  0
20170312, count:  0
20170313, count:  2249
20170314, count:  2247
20170315, count:  2248
20170316, count:  2248
20170317, count:  2248
20170318, count:  0
20170319, count:  0
20170320, count:  2249
20170321, count:  2249
20170322, count:  2249
20170323, count:  2250
20170324, count:  2250
20170325, count:  0
20170326, count:  0
20170327, count:  2251