In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
# Training set
cust = pd.read_csv('data_0915_u.csv')
cust.shape

In [3]:
# Test set
# cust = pd.read_csv('test_0930.csv')
# cust.shape

(2019, 79)

In [4]:
cust.loc[pd.isnull(cust.LAST_CHLD_AGE), 'LAST_CHLD_AGE'] = 0
cust.loc[cust['OCCP_NAME_G'] == '*', 'OCCP_NAME_G'] = '기타'
cust.loc[pd.isnull(cust.MATE_OCCP_NAME_G), 'MATE_OCCP_NAME_G'] = '기타'
cust.loc[cust['SEX'] == '*', 'SEX'] = 0

### 대출건수 통합

In [5]:
loan_cnt = pd.Series(cust[['BNK_LNIF_CNT', 'CPT_LNIF_CNT', 'SPART_LNIF_CNT', 'ECT_LNIF_CNT']].sum(axis=1), name='LNIF_CNT')
cust = pd.concat([cust, loan_cnt], axis=1)
cust = cust.drop(['BNK_LNIF_CNT', 'CPT_LNIF_CNT', 'ECT_LNIF_CNT'], axis=1)
# cust = cust.drop(['BNK_LNIF_CNT', 'CPT_LNIF_CNT', 'SPART_LNIF_CNT', 'ECT_LNIF_CNT'], axis=1)
# cust.head()

### 대출금액 통합

In [6]:
# 카드캐피탈대출 금액이 신용+은행대출 금액보다 많은지 여부
CPT_LNIF_BIG = pd.Series((cust['CPT_LNIF_AMT'] > cust['TOT_CLIF_AMT'] + cust['BNK_LNIF_AMT']) & (cust['CPT_LNIF_AMT'] > 1),  name='CPT_LNIF_BIG').astype(int)

# 카드캐피탈대출 금액의 총대출금액 대비 비율
CPT_LNIF_RATIO = pd.Series(pd.Series.round(cust['CPT_LNIF_AMT'] / cust['TOT_LNIF_AMT'], 3),  name='CPT_LNIF_RATIO')

cust = pd.concat([cust, CPT_LNIF_BIG, CPT_LNIF_RATIO], axis=1)
cust = cust.drop(['TOT_CLIF_AMT', 'BNK_LNIF_AMT'], axis=1)
# cust.head()

### DTI : 대출금액/추정소득

In [7]:
dti = pd.Series(np.round(cust['TOT_LNIF_AMT'] / cust['CUST_JOB_INCM'], 3))
cust['DTI'] = dti
cust = cust.replace(np.inf, np.nan)
cust = cust.fillna(value=0) 
# cust.head()

### add

In [8]:
# 최근1년보험료연체율
cust.loc[cust['LT1Y_PEOD_RATE'] == '0', 'LT1Y_PEOD_RATE_YN'] = 0
cust.loc[cust['LT1Y_PEOD_RATE'] != '0', 'LT1Y_PEOD_RATE_YN'] = 1

In [9]:
# 자동이체실패월수
cust.loc[cust['AUTR_FAIL_MCNT'] == 0, 'AUTR_FAIL_YN'] = 0
cust.loc[cust['AUTR_FAIL_MCNT'] != 0, 'AUTR_FAIL_YN'] = 1

In [10]:
# 납부일미준수횟수
cust.loc[cust['TLFE_UNPD_CNT'] == 0, 'TLFE_UNPD_CNT'] = 0
cust.loc[cust['TLFE_UNPD_CNT'] != 0, 'TLFE_UNPD_CNT'] = 1

In [11]:
# 실효해지건수
cust.loc[cust['CNTT_LAMT_CNT'] == 0, 'CNTT_LAMT_YN'] = 0
cust.loc[cust['CNTT_LAMT_CNT'] != 0, 'CNTT_LAMT_YN'] = 1

In [12]:
# 최근1년실효해지건수
cust.loc[cust['LT1Y_CTLT_CNT'] == 0, 'LT1Y_CTLT_YN'] = 0
cust.loc[cust['LT1Y_CTLT_CNT'] != 0, 'LT1Y_CTLT_YN'] = 1

In [13]:
# 정지일수
cust.loc[cust['NUM_DAY_SUSP'] == 0, 'NUM_DAY_SUSP_YN'] = 0
cust.loc[cust['NUM_DAY_SUSP'] != 0, 'NUM_DAY_SUSP_YN'] = 1

In [14]:
# 대출정보 현재 총 건수[2산업분류]
cust.loc[cust['SPART_LNIF_CNT'] < 2, 'SPART_LNIF_YN'] = 0
cust.loc[cust['SPART_LNIF_CNT'] != 0, 'SPART_LNIF_YN'] = 1

In [15]:
# cust = cust.drop(['AUTR_FAIL_MCNT','CNTT_LAMT_CNT','LT1Y_CTLT_CNT','NUM_DAY_SUSP'], axis=1)

### 범주형 변수 : category로 변환

In [16]:
# 범주형 변수
cate_var = cust.columns[cust.dtypes == 'object']
cate_var

Index(['OCCP_NAME_G', 'MATE_OCCP_NAME_G', 'LT1Y_PEOD_RATE', 'SEX',
       'TEL_MBSP_GRAD', 'CBPT_MBSP_YN', 'PAYM_METD', 'LINE_STUS'],
      dtype='object')

In [17]:
cust_temp = cust[['CUST_ID', 'MATE_OCCP_NAME_G']]   # 직종 확인
cust_temp.groupby(['MATE_OCCP_NAME_G']).count()

                  CUST_ID
MATE_OCCP_NAME_G
1차산업 종사자               24
2차산업 종사자              155
3차산업 종사자               73
고소득 전문직                 6
공무원                    42
기업/단체 임원               27
기타                    940
단순 노무직                 13
단순 사무직                 23
사무직                   205
예체능계 종사자                8
운전직                    62
자영업                   143
전문직                    38
주부                    258
학생                      2

In [18]:
# 최근1년보험료연체율 카테고리 타입으로 변환
col01 = pd.Series(cust['LT1Y_PEOD_RATE'].astype("category"), name='LT1Y_PEOD_RATE_C')
cust = pd.concat([cust, col01], axis=1)
cust['LT1Y_PEOD_RATE_C'].cat.categories = ["0","10","20","30","40","50","60","90","91"]
cust[['LT1Y_PEOD_RATE','LT1Y_PEOD_RATE_C']].head(10)

  LT1Y_PEOD_RATE LT1Y_PEOD_RATE_C
0              0                0
1              0                0
2           10미만               10
3              0                0
4           50미만               50
5              0                0
6           10미만               10
7              0                0
8              0                0
9           20미만               20

In [19]:
# 직업 - 카테고리 타입으로 변환
col02 = pd.Series(cust['OCCP_NAME_G'].astype("category"), name='OCCP_NAME_C')
cust = pd.concat([cust, col02], axis=1)
cust['OCCP_NAME_C'].cat.categories = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16"]
cust[['OCCP_NAME_G','OCCP_NAME_C']].head(10)

  OCCP_NAME_G OCCP_NAME_C
0         사무직          10
1         자영업          13
2          학생          16
3          학생          16
4         자영업          13
5         사무직          10
6    기업/단체 임원          06
7         사무직          10
8    3차산업 종사자          03
9         자영업          13

In [20]:
# 배우자 직업 - 카테고리 타입으로 변환
col03 = pd.Series(cust['MATE_OCCP_NAME_G'].astype("category"), name='MATE_OCCP_NAME_C')
cust = pd.concat([cust, col03], axis=1)
cust['MATE_OCCP_NAME_C'].cat.categories = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16"]
cust[['MATE_OCCP_NAME_G','MATE_OCCP_NAME_C']].head(10)

  MATE_OCCP_NAME_G MATE_OCCP_NAME_C
0           단순 사무직               09
1              자영업               13
2               기타               07
3               기타               07
4         3차산업 종사자               03
5               기타               07
6               주부               15
7               주부               15
8         기업/단체 임원               06
9              사무직               10

In [21]:
cust = cust.drop(['LT1Y_PEOD_RATE', 'OCCP_NAME_G', 'MATE_OCCP_NAME_G'], axis=1)

### 변수 통합

In [22]:
# object형 변수
cate_var = cust.columns[cust.dtypes == 'object']
cate_var

Index(['SEX', 'TEL_MBSP_GRAD', 'CBPT_MBSP_YN', 'PAYM_METD', 'LINE_STUS'], dtype='object')

In [23]:
# category형 변수
cate_var_c = cust.columns[cust.dtypes == 'category']
cate_var_c

Index(['LT1Y_PEOD_RATE_C', 'OCCP_NAME_C', 'MATE_OCCP_NAME_C'], dtype='object')

In [24]:
# 연속형변수
conti_var = cust.columns[(cust.dtypes != 'object') & (cust.dtypes != 'category')].difference(['CUST_ID'])
print(conti_var)
print(len(conti_var))

Index(['ACTL_FMLY_NUM', 'AGE', 'ARPU', 'AUTR_FAIL_MCNT', 'AUTR_FAIL_YN',
       'AVG_CALL_FREQ', 'AVG_CALL_TIME', 'AVG_STLN_RATE', 'CB_GUIF_AMT',
       'CB_GUIF_CNT', 'CNTT_LAMT_CNT', 'CNTT_LAMT_YN', 'CPT_LNIF_AMT',
       'CPT_LNIF_BIG', 'CPT_LNIF_RATIO', 'CRDT_CARD', 'CRDT_CARD_CNT',
       'CRDT_GRAD_DIFF', 'CRDT_LOAN_CNT', 'CRDT_OCCR_MDIF', 'CRLN_30OVDU_RATE',
       'CRLN_OVDU_RATE', 'CRMM_OVDU_AMT', 'CTCD_OCCR_MDIF', 'CUST_FMLY_NUM',
       'CUST_JOB_INCM', 'DTI', 'FAIL_COUNT', 'FMLY_CLAM_CNT',
       'FMLY_GDINS_MNPREM', 'FMLY_PLPY_CNT', 'FMLY_SVINS_MNPREM',
       'FMLY_TOT_PREM', 'FYCM_PAID_AMT', 'GDINS_MON_PREM', 'HIGH_AMT_RATE',
       'HSHD_INFR_INCM', 'LAST_CHLD_AGE', 'LNIF_CNT', 'LOW_AMT_RATE',
       'LT1Y_CLOD_RATE', 'LT1Y_CTLT_CNT', 'LT1Y_CTLT_YN', 'LT1Y_MXOD_AMT',
       'LT1Y_PEOD_RATE_YN', 'LT1Y_SLOD_RATE', 'LT1Y_STLN_AMT',
       'LTST_CRDT_GRAD', 'L_H_RATE', 'MATE_JOB_INCM', 'MAX_MON_PREM',
       'MIN_CNTT_DATE', 'MOBL_FATY_PRC', 'MOBL_PRIN', 'MON_TLFE_AMT',
       'NUM_DAY_SUSP', 'NUM_DAY_SUSP_YN', 'OVDU_HIGH_RATE', 'PREM_OVDU_RATE',
       'SPART_LNIF_CNT', 'SPART_LNIF_YN', 'SPTCT_OCCR_MDIF', 'STLN_REMN_AMT',
       'STRT_CRDT_GRAD', 'SVINS_MON_PREM', 'TARGET', 'TEL_CNTT_QTR',
       'TEL_OVDU_RATE', 'TLFE_UNPD_CNT', 'TOTAL_DELAY_RATE', 'TOT_CRLN_AMT',
       'TOT_LNIF_AMT', 'TOT_LOAN_CNT', 'TOT_PREM', 'TOT_REPY_AMT'],
      dtype='object')
75

## feature extraction

In [25]:
var_list = conti_var.difference(['TARGET'])
totlen = len(var_list)
print(totlen)

74

In [26]:
for i in range(totlen):
    if i+1 < totlen:
        m_data = list(zip(cust[var_list[i]], cust[var_list[i+1]]))
        
        feature_name = 'dv_{}_{}'.format(i, i+1)
        m_values = pd.Series([x/y if y > 0 else x for x, y in m_data])
        cust[feature_name] = m_values

        feature_name = 'dv_{}_{}'.format(i+1, i)
        m_values = pd.Series([y/x if x > 0 else y for x, y in m_data])
        cust[feature_name] = m_values

In [27]:
cust.tail()

,CUST_ID,TARGET,SPART_LNIF_CNT,TOT_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,...,dv_68_69,dv_69_68,dv_69_70,dv_70_69,dv_70_71,dv_71_70,dv_71_72,dv_72_71,dv_72_73,dv_73_72
2014,102009,0.0,0,6001,0,1,0,2,121,0,...,5.0,0.0,0.0,6001.0,6001.000000,-0.000067,-4.000000e-08,1.000000e+07,10000000.0,0.0
2015,102154,0.0,3,114001,3001,13,61,0,0,0,...,51.0,0.0,0.0,114001.0,87023.664122,0.000011,3.275000e-07,3.053435e+06,4000000.0,0.0
2016,102163,0.0,0,33001,0,0,0,2,73,0,...,4.0,0.0,0.0,33001.0,33001.000000,-0.000024,-2.000000e-07,4.000000e+06,4000000.0,0.0
2017,102189,0.0,0,69001,0,0,0,2,121,0,...,2.0,0.0,0.0,69001.0,69001.000000,-0.000006,-2.222222e-08,1.800000e+07,18000000.0,0.0
2018,102204,0.0,1,21001,21001,25,25,2,37,0,...,0.0,0.0,0.0,21001.0,51221.951220,0.000020,2.277778e-08,4.390244e+07,18000000.0,0.0

In [28]:
# 추가된 연속형변수 확인
conti_var = cust.columns[(cust.dtypes != 'object') & (cust.dtypes != 'category')].difference(['CUST_ID'])
print(conti_var)
print(len(conti_var))

Index(['ACTL_FMLY_NUM', 'AGE', 'ARPU', 'AUTR_FAIL_MCNT', 'AUTR_FAIL_YN',
       'AVG_CALL_FREQ', 'AVG_CALL_TIME', 'AVG_STLN_RATE', 'CB_GUIF_AMT',
       'CB_GUIF_CNT',
       ...
       'dv_71_72', 'dv_72_71', 'dv_72_73', 'dv_73_72', 'dv_7_6', 'dv_7_8',
       'dv_8_7', 'dv_8_9', 'dv_9_10', 'dv_9_8'],
      dtype='object', length=221)
221

In [29]:
# object형 변수를 dummy 변수로 변환
dummy_var = pd.get_dummies(cust[cate_var])
dummy_var.head()

,SEX_0,SEX_1,SEX_2,TEL_MBSP_GRAD_0,TEL_MBSP_GRAD_E,TEL_MBSP_GRAD_Q,TEL_MBSP_GRAD_R,TEL_MBSP_GRAD_W,CBPT_MBSP_YN_N,CBPT_MBSP_YN_Y,PAYM_METD_0,PAYM_METD_G,PAYM_METD_K,PAYM_METD_O,PAYM_METD_R,LINE_STUS_S,LINE_STUS_U
0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1
1,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,1
2,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1
3,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,1
4,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1

In [30]:
# category형 변수를 dummy 변수로 변환
dummy_var_c = pd.get_dummies(cust[cate_var_c])
dummy_var_c.head()

,LT1Y_PEOD_RATE_C_0,LT1Y_PEOD_RATE_C_10,LT1Y_PEOD_RATE_C_20,LT1Y_PEOD_RATE_C_30,LT1Y_PEOD_RATE_C_40,LT1Y_PEOD_RATE_C_50,LT1Y_PEOD_RATE_C_60,LT1Y_PEOD_RATE_C_90,LT1Y_PEOD_RATE_C_91,OCCP_NAME_C_01,...,MATE_OCCP_NAME_C_07,MATE_OCCP_NAME_C_08,MATE_OCCP_NAME_C_09,MATE_OCCP_NAME_C_10,MATE_OCCP_NAME_C_11,MATE_OCCP_NAME_C_12,MATE_OCCP_NAME_C_13,MATE_OCCP_NAME_C_14,MATE_OCCP_NAME_C_15,MATE_OCCP_NAME_C_16
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
x_data = pd.concat([cust[conti_var], dummy_var, dummy_var_c], axis=1)
x_data.head()

,ACTL_FMLY_NUM,AGE,ARPU,AUTR_FAIL_MCNT,AUTR_FAIL_YN,AVG_CALL_FREQ,AVG_CALL_TIME,AVG_STLN_RATE,CB_GUIF_AMT,CB_GUIF_CNT,...,MATE_OCCP_NAME_C_07,MATE_OCCP_NAME_C_08,MATE_OCCP_NAME_C_09,MATE_OCCP_NAME_C_10,MATE_OCCP_NAME_C_11,MATE_OCCP_NAME_C_12,MATE_OCCP_NAME_C_13,MATE_OCCP_NAME_C_14,MATE_OCCP_NAME_C_15,MATE_OCCP_NAME_C_16
0,6,35,50000,7,1.0,240,410,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,4,55,30000,0,0.0,234,360,44,0,0,...,0,0,0,0,0,0,1,0,0,0
2,3,25,50000,10,1.0,308,995,70,0,0,...,1,0,0,0,0,0,0,0,0,0
3,3,60,50000,2,1.0,492,513,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5,55,60000,42,1.0,108,178,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 정리된 최종 데이터 저장

In [32]:
# Training set
x_data.to_csv("data_transform.csv", index=False)
cust = pd.read_csv('data_transform.csv')
cust.shape

In [33]:
# Test set
# x_data.to_csv("test_transform.csv", index=False)
# cust = pd.read_csv('test_transform.csv')
# cust.shape

(2019, 279)